.machine {
  flex: 4;
  padding: 20px;
}

.machineTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.machineAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.machineContainer {
  height: 300px;
  display: flex;
  margin-top: 20px;
}

.machineShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.machineUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.machineShowTop {
  display: flex;
  align-items: center;
}

.machineShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.machineShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.machineShowUsername {
  font-weight: 600;
}

.machineShowUserTitle {
  font-weight: 300;
}

.machineShowBottom {
  margin-top: 20px;
  height: 180px;
  overflow-y: scroll;
}

.machineShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.machineShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.machineShowIcon {
  font-size: 16px !important;
}

.machineShowInfoTitle {
  margin-left: 10px;
}

.machineUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.machineUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.machineUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.machineUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.machineUpdateSelect,
.machineUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.machineUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.machineUpdateUpload {
  display: flex;
  align-items: center;
}

.machineUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.machineUpdateIcon {
  cursor: pointer;
}

.machineUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}
